<div class="index flex-column">
		<div class="card-container flex-row">
			<div class="img-container">
				<img class="user-img" src=<%= @user.photo %> alt="user-img">
			</div>
			<div class="user flex-row">
				<h1><%= @user.name %></h1>
				<p>Number of posts: <%= @user.post_counter %></p>
			</div>
		</div>
			<%@posts.each.with_index(1) do |post, index|%>
				<div class="info-container">
					<%= link_to post.title, {controller: 'post', action: 'show', id: post.id }, class: 'post-link'%>
					<p><%= post.text%></p>
					<div class="counters">
						<h5>Comments: <%= post.comments_counter%></h5>
						<h5>Likes: <%= post.likes_counter%></h5>
					</div>
				</div>
				<div class="comment-container">
					<% if post.comments_counter != 0 %>
						<% post.most_recent_comments.each do |comment|%>
							<div class="comments">
								<p><%= comment.author.name%>: </p>
								<p><%= comment.text%></p>
							</div>
						<%end%>
					<%else%>
						<p>No comments added</p>
					<%end%>
				</div>
			<%end%>
		<%=link_to 'Go Back', {controller: 'user', action: 'show', id: @user.id }, class: 'btn-container' %>
		<%= link_to render(:partial => "shared/post_btn"), {controller: 'post', action: 'new'}, class: 'form-btn'%>
</div>
