<div class="index flex-column">
	<div class="post-container ">
		<div class="flex-row">
			<div class="post-title">
				<p><%=@post.title%> by <%=@user.name%></p>
			</div>
			<div class="post-counters flex-row">
				<p>Comments: <%=@post.comments_counter || 0 %></p>
				<p>Likes: <%=@post.likes_counter || 0 %></p>
			</div>
		</div>
		<div class="post-text">
			<p><%=@post.text%></p>
		</div>
		<div class="like flex-row"><%= link_to render(:partial => "shared/like_form")%></div>
	</div>
	<div class="post-container">
		<%if @post.comments_counter != 0%>
			<%@post.comments.each  do|comment|%>
					<div class="comments flex-row">
						<p><%=comment.author.name%>: </p>
						<p><%=comment.text%></p>	
					</div>
			<%end%>
		<%else%>
			<p>No comments added</p>
		<%end%>
	</div>
	<div class="comment-container">
		<%=render partial: "shared/comment_form"%>
	</div>
    <%= link_to 'Go Back', {controller: 'post', action: 'index', user_id: @user.id }, class: 'btn-container' %>
		<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: "#{name} generic-alert" %>
  <% end -%>
</div>

